.container{ 
    background: rgba(54, 65, 106, 0.15);
    border-radius: 4px 4px 0px 0px;
    padding: 1em;
    margin: 1em 0;
}
.product_section{
    display: flex;
}
.img_box img{
    border-radius: 50%;
    width: 4em;
}
.detail_box{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 1em;
    position: relative;
}

.text_section p{ line-height: 147.2%; }
.text_section h1{
    color: #36416A;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 147.2%;
}
.btn{
    text-align: center;
    margin: auto 0;
}
.btn button{
    padding: .2em 1.2em;
    position: absolute;
    right: 13%;
    bottom: 2px;
}
.category_section{
    display: flex;
}
.category_card{
    background: #C0CEFF;
    border-radius: 20.9396px;
    padding: .3em 1em;
    margin: .5em;
}

.comment_icon span{
    color:#ABABAB;
}
.comment_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: .5em;
}

.vote_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.vote_btn img{
    margin: .3em;
}
.vote_btn{
    padding: .4em;
    background: #C7CBD6;
    border-radius: 15.9836px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.comment_count_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.comment_section{
    margin: 1em 0;
}

.input_box{
    background: #FFFFFF;
    border: 3px solid #C7CBD6;
    border-radius: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .3em 1em;
}
.input_box input{
    border: none;
    width: 100%;
    font-size: 1.125rem;
}
.input_box input:focus{
    outline: none;
}
.input_box button{
    border: none;
    background: none;
}
.input_box button:hover{
    opacity: .7;
}

.comment_box{
    display: flex;
    flex-direction: column;
    height: 150px;
    overflow-y: scroll;
}
.comment_box li{
    margin-left: 1.5em;
    color:#999999;
    font-size: 1.2rem;
    line-height: 147.2%;
}